<!DOCTYPE html>
<html lang="cs">
<head>
  <meta charset="utf-8">
  <title>OBS Display</title>
  <link rel="stylesheet" href="/static/style.css">
  <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script>
</head>
<body>

    <div id="panel-a" class="panel">
      <h2>Panel A</h2>
      <pre id="panel-a-content">
čekám ...
      </pre>
    </div>

    <div id="panel-b" class="panel">
      <h2>Panel B</h2>
      <pre id="panel-b-content">
čekám ...
      </pre>
    </div>

  <script src="/static/display.js"></script>
</body>
</html>