:root {
  --default-font: 'Courier New', Courier, monospace;
}
/* Reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
  font-family: var(--default-font);

}


/* Obecný panel */
.panel {
  position: absolute;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
}

/* Textový obsah */
.content-area {
    display: none;
    line-height: 1.2;           /* Výška řádku pro lepší čitelnost */
    text-shadow: 1px 1px 2px black; /* Přidá stín pro lepší čitelnost na různých pozadích */
    width: 100%;    /* Smrští šířku podle textu/sloupců */
    max-width: 100%;       /* Ale nepřeteče panel */
    height: auto;   /* Smrští výšku podle řádků */
    max-height: 100%;      /* Ale nepřeteče panel */
    padding: 10px;         /* Definovaný okraj (cca 10px) */
    box-sizing: border-box;
    
    /* Sloupcový layout */
    column-fill: auto;
    column-width: auto;
    column-gap: 20px;
    
    /* Ošetření textu */
    white-space: normal;
    word-wrap: break-word;

}
.msg-unit {
    display: block;
    width: 100%;
    margin-bottom: 1em; 
}
.msg-unit:last-child {
    margin-bottom: 0;           /* Poslední zpráva nemá mezeru dole */
}
/* Definice stylů pro tagy, které vyrobíš v normalize_line */
.content-area b, .content-area strong {font-weight: bold;}
.content-area i, .content-area em { font-style: italic;}
.content-area u {text-decoration: underline;}
.content-area s, .content-area strike {text-decoration: line-through;}

.image-panel {
  display: none;
}

.image-panel img {
  width: 100%;
  height: 100%;
  padding: 0px;
  display: none;
  object-fit: contain;
  opacity: 0;                /* Výchozí stav: neviditelný */
  transition: opacity 0.3s ease-in-out;
}
.image-panel img.visible {
  opacity: 1;               /* Cílový stav: plně viditelný */
}

.image-panel img[src=""] {
  display: none;
}


