/* Reset */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}


/* Obecný panel */
.panel {
  position: absolute;
  box-sizing: border-box;
  overflow: hidden;
}

/* Textový obsah */
.content-area {
    white-space: pre;           /* Zásadní: zachová mezery a konce řádků z Pythonu */
    line-height: 1.2;           /* Výška řádku pro lepší čitelnost */
    text-shadow: 1px 1px 2px black; /* Přidá stín pro lepší čitelnost na různých pozadích */
}

/* Definice stylů pro tagy, které vyrobíš v normalize_line */
.content-area b, .content-area strong {font-weight: bold;}
.content-area i, .content-area em { font-style: italic;}
.content-area u {text-decoration: underline;}
.content-area s, .content-area strike {text-decoration: line-through;}

.image-panel img {
  display: block;
  opacity: 0;                /* Výchozí stav: neviditelný */
  transition: opacity 0.3s ease-in-out;
}
.image-panel img.visible {
  opacity: 1 !important;               /* Cílový stav: plně viditelný */
}


.content-area:empty {
  background-color: transparent !important;
  padding: 0 !important;
}
